* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-weight: 500;
    font-family: 'Orbitron', sans-serif;
  }
  
  section {
    width: 100%;
    padding: 0 7%;
    display: table;
    margin: 0;
    max-width: none;
    background-color: #373b44;
    height: 100vh;
  }
  
  .primero{
    background-image:linear-gradient(rgba(5, 7, 12, 0.25), rgba(5, 7, 12, 0.40)),url(../../src/assets/Imagenes/background5.jpg);
    background-size: cover;
    background-repeat: no-repeat
  }

  .segundo{
    background-image:linear-gradient(rgba(5, 7, 12, 0.25), rgba(5, 7, 12, 0.40)),url(../../src/assets/Imagenes/background8.jpg);
    background-size: cover;
    background-repeat: no-repeat
    
  }

   .tercero{
    background-image:linear-gradient(rgba(5, 7, 12, 0.25), rgba(5, 7, 12, 0.40)),url(../../src/assets/Imagenes/background4.jpg);
    background-size: cover;
    background-repeat: no-repeat
  }
  .tercero h4{
    color:rgb(206, 206, 206);
    font-family: 'Montserrat', sans-serif;
  }

  .tercero h2{
    color:rgb(255, 255, 255)
  }

  h3{
    color:rgb(255, 255, 255)
  }
  
  h4{
    color:rgb(255, 255, 255)
  }

  h2{
    color:rgb(255, 255, 255)
  }
  .intro {
    height: 90vh;
  }
  
  .intro2 {
    height: 90vh;
  }
  .intro3 {
    height: 90vh;
  }
  .content {
    display: table-cell;
    vertical-align: middle;
  }
  
  h1 {
    font-size: 3em;
    display: block;
    color: white;
    font-weight: 400;
  }
  
  h3 {
    font-size: 3em;
    display: block;
    color: rgb(255, 255, 255);
    font-weight: 400;
  }

  p {
    font-size: 1.5em;
    font-weight: 500;
    color: #ebeef4;
  }
  
  a {
    font-weight: 700;
    color: #abb3c5;
    position: relative;
  }
  a:hover {
    opacity: 0.8;
  }
  a:active {
    top: 1px;
  }
  